<div id="all">
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Property List</h1>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">

                <section>

                    <div class="row">
                        <div class="col-md-12">
                           <form>
                            <input type="text" class="form-control" id="zipCode" aria-describedby="zipCode" placeholder="Enter Zip">
                              <br />
                             <a href="/listingPage"><button type="button" class="btn btn-outline-dark">Search</button></a>
                       </form>

                            <p class="lead">Find below the list of properties</p>
                        </div>
                    </div>

                    <div class="row portfolio">


                      <% listings.forEach(function(listing) {
                        if(listing.status != "SOLD") {
                       %>
                      
                         <div class="col-sm-4">
                            <div class="property-card">
                         <p class="price"><label> Unit Price:</label> <i class="fa fa-usd" aria-hidden="true"></i> <%= listing.unit_price %> </p>
                         <p> <i class="fa fa-map-marker" aria-hidden="true"></i> <%= listing.state %> </p>
                            <div class="box-image">
                                <div class="image">
                                    <img src= <%= listing.photo_url %> alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    <h3><a href="portfolio-detail.html"> <%= listing.address %> </a></h3> 
                                </div>
                                <div class="text">
                                    <p class="hidden-sm hidden-lg hidden-md"> <%= listing.description %> </p>
                                    <p class="buttons">
                                        <a href="/propertyDetail/<%= listing.id %>" class="btn btn-template-transparent-primary">View</a>
                                        <a href="#" class="btn btn-template-transparent-primary">Buy Units</a>
                                    </p>
                                </div>
                            </div>
                             <p> <i class="fa fa-map-marker" aria-hidden="true"></i> <%= listing.address %> </p>
                        </div>
                    </div>
                      <% } }); %>

                    </div>
                </section>
            </div>
        </div>
    </div>