    <div id="all">
        

        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Property Details Page</h1>
                    </div>
                    
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">

                <div class="row portfolio-project">

                    <section>

                        <div class="col-sm-7">
                            <div class="project owl-carousel">
                                <div class="item">
                                    <img src="<%= details[0].photo_url %>" alt="" class="img-responsive">
                                </div>
                            </div>
                            <!-- /.project owl-slider -->

                        </div>

                         <script>
                            var price = <%= details[0].price  %>;  
                            var unitprice = <%= details[0].unit_price  %>;
                            var price = formatAmount(price); 
                            var uprice = formatAmount(unitprice); 
                            var utransaction = <%= details[0].units %> - <%= details[0].available_units %>
                         </script>

                        <div class="col-sm-3">
                            <div class="project-more">
                                <h4>Address</h4>
                                <p><%= details[0].address %></p>
                                <h4>Size</h4>
                                <p><%= details[0].size %> sq.ft</p>
                                <h4>Price</h4>
                                <p> $ <script> document.write(price) </script></p>
                                <h4>Unit Price</h4>
                                <p> $ <script> document.write(uprice) </script></p>
                                <h4>Total Units</h4>
                                <p><%= details[0].units %></p>
                                
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a href="#"> <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                                &nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon glyphicon-shopping-cart"></span> Buy &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            </button> </a>
                            <div class="project-more">
                            <h4>Units in Transaction</h4>
                                <p> <script> document.write(utransaction) </script></p>
                                 <h4>Units available</h4>
                                <p><%= details[0].available_units %></p>
                            </div>
                        </div>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Purchasing Options</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                               <div class="l-fluid-width">
                    <p><strong>Part A: General Terms and </strong><strong>Conditions Applying to Subscriptions and Products</strong></p>
<ol>
<li><strong>Definitions</strong></li>
</ol>
<p>“<strong>Administrative Office</strong>” means an office that serves a purely administrative function for an Agency Group.</p>
<p><strong>“Agency Office”</strong> means :</p>
<p>(a) a physical office from which the business of supplying real estate agency services is physically and predominantly conducted (e.g. a law firm or serviced office for multiple businesses is not an Agency Office). For the avoidance of doubt, an Agency Office does not include an office that REA believes, on reasonable grounds, is in practice, an extension of an existing Agency Office or being utilised for the sole or dominant purpose of facilitating a person to enter into an additional Subscription.</p>
<p>(b) an Online Agency. &nbsp;</p>
<p>“<strong>Agency Group</strong>” means a group of Agency Offices (and if applicable an Administrative Office, but excluding Online Agencies) that are owned, controlled or operated within the same real estate agency network, franchise or brand.</p>
<p>“<strong>Agreement</strong>” has the meaning in clause 2 of these Customer Terms.</p>
<p>“<strong>All Depth Contract</strong>” is a contract to purchase an agreed type of Depth Product for all of your listings in either the Buy Section or the Rent Section as further described in clause 4.3 of Part C of these Customer Terms.</p>
<p>“<strong>Buy</strong> <strong>Section” </strong>means the section of the Platform for listings of properties for sale located at realestate.com.au/buy.</p>
<p>“<strong>Depth Contract</strong>” is a contract to purchase an agreed volume of Depth Products in either the Buy Section or Rent Section of the Platform in order to access discounted rates for such Depth Products, being either an All Depth Contract or an Elect Depth Contract.</p>
<p>“<strong>Depth Products</strong>” means the Products described in clause 1 of Part C of these Customer Terms and Conditions which can only be purchased under a Subscription to our Platform and which enhance the appearance and ranking of property listings on the Platform, including Feature Property, Highlight Property and Premiere Property.</p>
<p>“<strong>Elect Depth Contract</strong>” is a contract with a Minimum Commitment for you to purchase an agreed number of an agreed type of Depth Product for your listings in either the Buy Section or the Rent Section as further described in clause 4.2 of these Customer Terms.</p>
<p>“<strong>Feature Property</strong>” has the meaning in clause 1.1 of Part C of these Customer Terms.</p>
<p>“<strong>Flexi Depth Contract</strong>” is a type of Depth Contract that is required to acquire a Flexi Subscription, as further described in clause 4.7 of Part C of these Customer Terms.</p>
<p>“<strong>Flexi Subscription</strong>” has the meaning in clause 2 of Part B of these Customer Terms.</p>
<p>“<strong>Further Term</strong>” has the meaning in clause 3.2 of Part A of these Customer Terms.</p>
<p>“<strong>Highlight Property</strong>” has the meaning in clause 1.2 of Part C of these Customer Terms.</p>
</div> 
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  I agree all the rules of Xome
                                </label>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="/getProperty/<%= details[0].id %>"><button type="button" class="btn btn-primary">Buy</button> </a>
                              </div>
                            </div>
                          </div>
                        </div>

                    </section>

                    <section>

                        <div class="col-sm-12">

                            <div class="heading">
                                <h3>Property description</h3>
                            </div>

                            <p> <%= details[0].description %></p>
                        </div>
                    </section>

                </div>

                
            </div>
     
        </div>
    </div>
